<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h2>Contact Us</h2>
            <ul>
                <li>Sunday - Thursday 10am - 10pm GMT +2</li>
                <li>Phone: <a href="tel:0123456789">+20 123 456 789</a></li>
                <li>Email: <a href="mailto:sales@powerchem.co.eg">sales&#64;powerchem.co.eg</a></li>
            </ul>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>

        <div class="footer-section">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#exterior">Exterior Care</a></li>
                <li><a href="#interior">Interior Care</a></li>
                <li><a href="#accessories">Accessories</a></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p>&copy; 2024 Power Chem. All rights reserved</p>
        <img src="../../assets/images/payments-icons.webp" alt="Payment Methods"
            style="max-width: 300px; margin-top: 1rem;">
    </div>
</footer>